<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
    <title>AL's Portfolio</title>
</head>

<body>
    
    <header class="1-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/" class="nav__logo">Adrian Latupeirissa's Portfolio</a>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" id="nav-menu">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
    </header>

    <main class="1-main">
        
        <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi. <br>I am <span class="home__title-color">Adrian,</span><br>a Frontend <br/>Web Developer.</h1>
                    <a href="mailto:ian.latupeirissa93@gmail.com" class="button">Contact</a>
                </div>
                <div class="home__social">
                    <a href="https://www.linkedin.com/in/adrian-latupeirissa-3bb058191/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://github.com/ianone93" class="home__social-icon"><i class='bx bxl-github'></i></a>
                </div>
                <div class="home__img">
                    <img src="/img/profile.png" alt="">

                </div>
        </section>

        <section class="about section" id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about___img">
                    <img src="/img/about.jpg" alt="">
                </div>
                <div>
                    <h2 class="about__subtitle">About Me</h2>
                    <p class="about__text">Experienced with a bachelor's  degree  in English Language  Education  and Cyber Security Certification with proven time management and flexible collaborative skills developed through work as Administrator and IT Support Staff at Pattimura University, Internship at Blue Lance (Cyber Security Company in Houston, TX), Anantarupa Studios (Developer  of Lokapala Mobile  Game), and  volunteer  engagement.  Looking  for  opportunities  to maximize  skills and  experience in the field of Administration staff, Cyber security Engineer, Network engineer, Frontend Web Developer and IT Support. A committed worker intends to provide excellent service with professionalism and integrity.</p>
                </div>
            </div>
        </section>

        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div class="skills__subtitle"><strong>Professional Skills</strong></div>
                <p class="skills__text">Administration, IT Support, IT Security, Web Frontend Programming (ReactJs)</p>
                <div class="skillsadd_subtitle"><strong>Additional Skills</strong></div>
                <p class="skillsadd__text">Photoshop, Illustrator, Music Arranging</p>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxl-html5 skills__icon'></i>
                        <span class="skills__name">HTML5</span>
                    </div>

                    <div>
                        <span class="skills__percentage">90%</span>
                    </div>

                    <div class="skills__bar skills__html"></div>
                </div>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxl-css3 skills__icon' ></i>
                        <span class="skills__name">CSS</span>
                    </div>

                    <div>
                        <span class="skills__percentage">80%</span>
                    </div>
                    
                    <div class="skills__bar skills__css"></div>
                </div>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bxl-nodejs skills__icon' ></i>
                        <span class="skills__name">Javascript</span>
                    </div>

                    <div>
                        <span class="skills__percentage">80%</span>
                    </div>
                    
                    <div class="skills__bar skills__js"></div>
                </div>
                <div class="skills__data">
                    <div class="skills__names">
                        <i class='bx bx-paint skills__icon' ></i>
                        <span class="skills__name">Photoshop & Illustrator</span>
                    </div>

                    <div>
                        <span class="skills__percentage">80%</span>
                    </div>
                    
                    <div class="skills__bar skills__design"></div>
                </div>
            </div>
        </section>
        <section class="work section" id="work">
            <h2 class="section-title">My Work Experience</h2>

            <div class="work__container bd-grid">
                <div class="work__subtitle"><strong>English Education Study Program (2016 - 2019)</strong></div>
                <div class="work__subtitle">Administrator staff & IT Support</div>
                <ul class="work__text">
                    <li>Manage / upload all study program data on the academic Web system (SISMIK to PDDIKTI)</li><br>
                    <li>Support all IT needs in the Study Program environment. Like installing all computers in the lab also installing operating systems and supporting software, installing UPS, helping lecturers to repair their laptops that having issuses with software or hardware, installing operating systems and software to students and lecturers in need, designing banners, book covers, posters using Photoshop or CorelDraw for events organized by study programs, and others</li>
                </ul>
                <div class="work__subtitle"><strong>Blue Lance.inc</strong></div>
                <div class="work__subtitle">Internship</div>
                <ul class="work__text">
                    <li>Make a manual instruction for new Software</li><br>
                    <li>Create and manage Virtual Servers using Amazon Web Services (AWS)</li>
                </ul>
                <div class="work__subtitle"><strong>Anantarupa Studios (May 2021 - March 2022)</strong></div>
                <div class="work__subtitle">Web Frontend Developer</div>
                <ul class="work__text">
                    <li>Develop an Admin Tools for Managing Lokapala in-Game Features (such as Send Mail to player(s), Set Maintenance Warning, Game Analytics, etc.)</li><br>
                    <li>Take a part in developing Anantarupa website</li>
                </ul>
            </div>
        </section>
        
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>
            <div class="contact__container bd-grid">
                <form action="" class="contact__form">
                    <input type="text" placeholder="Name" class="contact__input">
                    <input type="mail" placeholder="Your email" class="contact__input">
                    <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                    <input type="button" value="Submit" class="contact__button button">
                </form>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p class="footer__title">AL's</p>
        <div class="footer__social">
            <a href="https://facebook.com/" class="footer__icon"><i class='bx bxl-facebook-circle' ></i></a>
            <a href="https://twitter.com/" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            <a href="https://www.instagram.com/disguyhasnochill_" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
        </div>
        <p>&#169; 2022 copyright, all right reserved
        </p>
    </footer>
    
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="/js/main.js"></script>
</body>

</html>